<section class="home-hero">
  <h1 class="home-hero__title">Collect Feedback,<br />Unlock Ideas</h1>
  <p class="home-hero__description">
    Create and share surveys in minutes – from team events to workplace culture. Collect
    opinions, engage your audience,<br />and turn feedback into action.
  </p>
  <button class="home-hero__button" type="button">
    <span class="home-hero__button-label">New survey</span>
    <img
      class="home-hero__button-icon"
      src="/img/button/add_circle.png"
      alt=""
      width="20"
      height="20"
    />
  </button>
</section>

<div class="home-visual" aria-hidden="true">
  <img
    class="home-visual__phone"
    src="/img/home/home.phone.png"
    alt=""
    width="520"
    height="520"
  />
  <img
    class="home-visual__bubble"
    src="/img/home/home.phone-bubble.png"
    alt=""
    width="172"
    height="113"
  />
  <img
    class="home-visual__star"
    src="/img/home/home.phone-star.png"
    alt=""
    width="97"
    height="94"
  />
  <img
    class="home-visual__questionmark"
    src="/img/home/home.phone-questionmark.png"
    alt=""
    width="98"
    height="111"
  />
  <img
    class="home-visual__check"
    src="/img/home/home.phone-check.png"
    alt=""
    width="103"
    height="104"
  />
</div>
