@font-face {
  font-display: swap;
  font-family: 'Nerko One';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/NerkoOne-Regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 200 1000;
  src: url('../../public/fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: 'Nokora';
  font-style: normal;
  font-weight: 100 900;
  src: url('../../public/fonts/Nokora-VariableFont_wght.ttf') format('truetype');
}
