$primary-purple: #35273a;
$primary-orange: #ffb770;
$detail-title-orange: #ff9f35;
$primary-orange-transparent: #ffb7704d;
$secondary-orange: #ffcfa1;
$bg-card: #faf5fe;
$bg-card-hover: #f4e9fb;
$bg-survey-list-card: #d9d9d914;
$bg-survey-list-card-hover: #d9d9d929;
$survey-panel-purple: #8e70991a;
$result-track: #eeeeee;
$error-red: #711c2f;
$white: #ffffff;
