<section class="ending-soon-surveys">
  <h3 class="ending-soon-surveys__title">Ending soon surveys</h3>
  <div class="survey-card-list">
    @for (survey of endingSoonSurveys(); track survey.id) {
      <article class="survey-card">
        <a class="survey-card__link" [routerLink]="['/', survey.id]">
          <p class="survey-card__category">{{ getCategory(survey.category) }}</p>
          <h4 class="survey-card__title">{{ survey.name }}</h4>
          <span class="survey-card__deadline">{{ getDeadline(survey.endDate) }}</span>
        </a>
      </article>
    } @empty {
      <p class="survey-card-list__empty">There are no active surveys yet.</p>
    }
  </div>
</section>
