@use '../../../styles/functions';
@use '../../../styles/variables' as variables;

.home-container {
  width: min(
    calc(100% - functions.px-to-rem(32)),
    functions.px-to-rem(1218)
  );
  margin-inline: auto;
}

.home-header {
  padding-top: functions.px-to-rem(39);

  &__logo {
    display: block;
  }
}

.home-main {
  margin-top: functions.px-to-rem(92);
  padding-bottom: functions.px-to-rem(166);
}

.home-surveys {
  margin-top: functions.px-to-rem(90);
  text-align: center;

  &__title {
    margin: 0;
    color: variables.$primary-orange;
    font-family: 'Nerko One', cursive;
    font-size: functions.px-to-rem(72);
    font-weight: 400;
  }
}
