@use './styles/fonts';
@use './styles/variables' as variables;

html,
body {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: variables.$primary-purple;
  font-family: 'Mulish', sans-serif;
}
